.Reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    margin-bottom: 50px;
    gap: 15px;
}

.Reviews_form {
    height: 80px;
    width: 80px;
}
.Reviews button {
    height: 30px;
    width: 100px;
}